 body {
  background-image: linear-gradient(rgb(108, 210, 227), rgb(85, 165, 175));

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  }

  button{

    appearance: none;
    border:none;
    cursor: pointer;
    position: center;
    font-size: 30px;
    font-weight: 600;
    border-radius: 5px;
   

    background-image: linear-gradient(to right, rgb(201, 26 ,9) 50%, rgb(179, 16 , 4) 50%);
    background-size: 200% 100%;
    transition: 0.3s ease-out;

    width:20vw;
  } 

  .InformationButtons{
  display: flex;
  gap: 5vw;
  justify-content: spa;
  }
  button:hover{
    background-position: right;
  }
  
  #removeBlocks{
    z-index: 10;
  }

  h1 {
     color: rgb(255, 255, 255);
     text-align: center;
    width: 200px;
    height: 100px;
    font-size: 80px;
  
    
    -webkit-text-stroke: 3px black;
   
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 21, 0); 
    border-radius: 10px;
  } 
  
  img{
    max-width:100%;
    z-index: 1;
    max-width: 20%;
max-height: 20%
  }

  .hide {
    display: none;
  }

  #WhoAmIText {
    position: relative;
    z-index: 10;
    padding: 20px;
    font-size: 18px;
    color: #000000;
    margin: auto;
    text-align: center;
    max-width: 50%;
    min-width: 30%;	
    
    border: 2px solid rgb(0, 0, 0);
    background-color: #70c1fe; 
  }

  #block-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }

  .block {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #8EC641;
    border: 1px solid #7aa93a;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25), 
                inset 2px 2px 15px 2px rgba(255, 255, 255, 0.25);
  }

  .block::before {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25), 
                inset 2px 2px 4px 1px rgba(255, 255, 255, 0.25);
  }