 body {
     background-color: rgb(146, 208, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  }

  button{

position: center;
color:rgb(255, 255, 255);
background-color:aqua;
font-size: 25;
text-align: center;

  } 
  
  #removeBlocks{
    z-index: 10;
  }
  h1 {
     color: rgb(255, 255, 255);
     text-align:center;
    width: 300;
    height: 120;
    font-size: 100;
  
    
    -webkit-text-stroke: 2px black;
   
    border: 2px solid rgb(0, 0, 0);
    background-color: #ff0000; 
  } 
  
  .hide {
    display: none;
  }

  #WhoAmIText {
    position: relative;
    z-index: 10;
    padding: 20px;
    font-size: 18px;
    color: #000000;
    margin: auto;
    text-align: center;
    max-width: 50%;
    min-width: 30%;	
    
    border: 2px solid rgb(0, 0, 0);
    background-color: #70c1fe; 
  }

  #block-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
  }

  .block {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #8EC641;
    border: 1px solid #7aa93a;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25), 
                inset 2px 2px 15px 2px rgba(255, 255, 255, 0.25);
  }

  .block::before {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25), 
                inset 2px 2px 4px 1px rgba(255, 255, 255, 0.25);
  }